* {
    outline: 1px solid black;
    margin: 0;
    font-family: sans-serif;
}

img {
    width: 100%;
    height: auto;
    min-width: 0;
}

h4 {
    font-size: 36px;
    color: #1f2937;
}

.card-button {
    width: 8rem;
    border-radius: 3px;
    background-color: #3882f6;
    border: none;
    padding: 0.5rem;
}

.container {
    padding: 3rem 10%;
    flex-wrap: wrap;
    gap: 1rem;
}

.navbar,
.navbar-links {
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 1rem;
}

.container,
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col {
    /* display: flex; */
    flex: 1 1 240px;
}

.container.top-bot {
    flex-direction: column;
    flex: 1 1 0;
}

.navbar,
.footer {
    min-height: 5rem;
    padding: 0 10%;
}

.container.hero .card-heading {
    font-size: 48px;
}

.navbar-logo {
    font-size: 24px;
}

.navbar-logo,
.card-heading {
    color: #f9f8f8;
}

.card-body,
.card-button,
.navbar-link,
.footer,
img {
    color: #e5e7eb;
    font-size: 18px;
}

.card-heading .card {
    border-radius: 3px;
}

.card {
    flex-direction: column;
}

.card > .card-heading,
.card > .card-body {
    padding: 1rem 0;
}

.hero,
.navbar,
.footer {
    background: #1f2937;
}

.navbar-link,
.navbar-logo {
    display: flex;
    text-align: center;
    align-items: center;
    text-decoration: none;
}

.image-showcase {
    margin: 1rem;
    min-width: 100px;
    max-width: 80%;
}

.image-showcase > img {
    border: solid 3px #3882f6;
    border-radius: 10%;
}

.image-showcase > figcaption {
    text-align: center;
}

.quote {
    background-color: #e5e7eb;
    color: #1f2937;
}

.quote-text {
    font: italic 100 36px sans-serif;
    max-width: 65ch;
}

.quote-author {
    font: bold 24px sans-serif;
    text-align: right;
}
